{% extends "core/base.html" %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block title %}{{ book.title }} - Details{% endblock title %}

{% block main %}
<div class="container mx-auto my-6 p-4 bg-white rounded-lg shadow">
  {% comment %} <!-- Book Cover and Title --> {% endcomment %}
  <div class="flex flex-col md:flex-row items-center gap-6">
    <div>
      <img
        src="{{ book.photo.url }}"
        alt="{{ book.title }} Cover"
        class="w-64 h-80 object-cover shadow-sm"
      />
    </div>
    <div>
      <h1 class="text-3xl font-bold">{{ book.title }}</h1>
      <p class="text-lg text-gray-600 mt-2">
        <strong>Author:</strong><a href="{% url 'author_profile' book.author.id %}" class="text-blue-700 underline"> {{ book.author.name }}</a>
      </p>
      <p class="text-lg text-gray-600"> 
        <strong>Price:</strong> ${{ book.price }}
      </p>
      <p class="text-lg text-gray-600">
        <strong>Categories:</strong> 
        {% for category in book.categories.all %}
          <span class="bg-gray-300 text-gray-700 px-2 py-1 rounded">{{ category.name }}</span>
        {% empty %}
          <span class="text-gray-500">No categories available</span>
        {% endfor %}
      </p>
      <p class="text-lg text-gray-600">
        <strong>Available Quantity:</strong> X{{ book.quantity }}
      </p>
      <p class="text-lg text-gray-600">
        <strong>Total Borrowed:</strong> X{{ book.borrow_count }}
      </p>
      <div class="indicator">
        <span class="indicator-item badge badge-warning">HOT</span>
        <p class="pt-3 pr-5"><small>You can get up to <span class="text-xl font-bold">{{ book.price|multiply:0.25 }}</span> Coins after borrowing this book!</small></p>
      </div>
      <div>
        <a href="{% url 'borrow_with_money' book.id %}" class="btn btn-outline btn-warning mt-4">Borrow Now!</a>
        <a href="{% url 'borrow_with_coins' book.id %}" class="btn btn-warning mt-4"><i class="fa-solid fa-fire"></i> Use Coin: {{book.price_with_coin | int_to_k}}</a>
      </div>
    </div>
  </div>

  <!-- Book Description -->
  <div class="mt-6">
    <h2 class="text-2xl font-semibold">Description</h2>
    <p class="mt-2 text-gray-700">{{ book.description }}</p>
  </div>

  <!-- Reviews Section -->
  <div class="mt-6">
    <form method="post" class="m-4 w-96">
      {% csrf_token %}
      <h2 class="text-2xl font-semibold">Add Review</h2>
      <div class="mt-4">
        {{ form|crispy }}
        <button type="submit" class="btn btn-warning mt-4 text-black">Submit Review</button>
      </div>
    </form>
    <h2 class="text-2xl font-semibold">Reviews</h2>
    {% if book.reviews.exists %}
      <ul class="mt-4 space-y-4">
        {% for review in book.reviews.all %}
          <li class="border-t pt-4">
            <p class="text-gray-700">By <strong>{{ review.user.username }}</strong>  • <span class="text-gray-500">{{review.created_at|date:"F j, Y"}}</span></p>
            <p class="text-gray-500">Rating: <span class="text-lg font-bold text-red-400">{{ review.ratings }} / 5<i class="fa-solid fa-star"></i></span></p>
            <p class="text-gray-500">Review: <strong class="text-gray-600">{{ review.description }}</strong></p>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="text-gray-500">No reviews available for this book.</p>
    {% endif %}
  </div>
  {% comment %} related books  {% endcomment %}
  <h1 class="text-3xl mt-6 mb-2">Related Books</h1>
  <hr>
  <div class="flex flex-wrap gap-6 mt-6">
    {% for book in related_books %}
    <div class="bg-white shadow-md hover:shadow-lg transition-shadow duration-300 rounded-lg overflow-hidden w-72 h-96">
      <a href="{% url 'book_details' book.id %}">
        <div class="flex justify-center">
          <img src="{{ book_covers.url }}" alt="{{ book.title }}" class="w-52 h-64 object-cover"/>
        </div>
        <div class="card-body p-4">
          <h2 class="text-lg font-semibold text-gray-800">{{ book.title|truncatechars:50 }}</h2>
          <h3 class="text-md font-bold text-black">Tk. {{book.price}}</h3>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock main %}
