{% extends "core/base.html" %}

{% block main %}


<div class="container my-5">
    <div class="d-flex justify-content-center">
        <div class="card shadow-sm" style="max-width: 400px; width: 100%;">
            <div class="card-header text-center" style="background: #7bd5ff;">
                <h5 class="mb-0">Personal Information</h5>
            </div>
            <div class="card-body">
                <p><strong>Username:</strong> {{ user.username }} </p>
                <p><strong>Full Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
                <p><strong>E-mail:</strong> {{ user.email }}</p>
                <p><strong>Joined:</strong> {{ user.date_joined|date:"d M Y" }}</p>
                <p><strong>Last Login:</strong> {{ user.last_login }}</p>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'edit_profile' user.username %}" class="btn btn-primary me-2">Edit Profile</a>
                <a href="{% url 'change_password' user.username %}" class="btn btn-outline-warning text-black">Change Password</a>
            </div>
        </div>
    </div>
</div>

{% endblock main %}
