{% extends "core/base.html" %}
{% load static %}
{% block title %}Home - Goriber-BookShop{% endblock title %}

{% block main %}
<div class="content grid grid-cols-12 gap-6 p-4">
  {% comment %} <!-- Sidebar with categories --> {% endcomment %}
  <div class="left col-span-12 md:col-span-2 bg-white shadow-lg rounded-lg p-4">
    <h2 class="text-lg font-semibold mb-4 text-gray-700"><i class="fa-solid fa-filter"></i> Categories</h2>
      {% for category in categories %}
        <a class="badge badge-outline m-2 p-3" href="{% url 'category' slug=category.slug %}">{{category.name}}</a>
      {% endfor %}
  </div>

  {% comment %} <!-- Main Content --> {% endcomment %}
  <div class="right col-span-12 md:col-span-10">

    {% comment %} <!-- Carousel --> {% endcomment %}
    <div class="carousel w-full h-64 rounded-lg shadow-lg overflow-hidden border border-black">
      <div class="carousel-item w-full">
        <img src="{% static 'slides/2.webp' %}" class="w-full h-full object-cover" alt="Slide 1" />
      </div>
      <div class="carousel-item w-full">
        <img src="{% static 'slides/1.webp' %}" class="w-full h-full object-cover" alt="Slide 2" />
      </div>
    </div>

    {% comment %} <!-- Book Cards --> {% endcomment %}
    <h1 class="text-3xl mt-8 mb-2 font-bold"><i class="fa-solid fa-bookmark"></i> {{book_title}} {% if curr_category %}<a href="{% url 'home' %}" class="text-3xl p-2 tooltip bg-gray-300 rounded-3xl" data-tip="Reset Filter">{{curr_category}} <i class="fa-solid fa-xmark"></i></a>{% endif %}</h1>
    <hr>
    <div class="flex flex-wrap gap-6 mt-6">
      {% for book in books %}
      <div class="bg-white shadow-md hover:shadow-lg transition-shadow duration-300 rounded-lg overflow-hidden w-72 h-96">
        <a href="{% url 'book_details' book.id %}">
          <div class="flex justify-center">
            <img src="{{book_covers.url}}" alt="{{ book.title }}" class="w-52 h-64 object-cover"/>
          </div>
          <div class="card-body p-4">
            <h2 class="text-lg font-semibold text-gray-800">{{ book.title|truncatechars:50 }}</h2>
            <h3 class="text-md font-bold text-black">Tk. {{book.price}}</h3>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>

    {% comment %} top 10 authors  {% endcomment %}
    <h1 class="text-3xl mt-8 mb-2 font-bold">Shop by Popular Author <i class="fa-solid fa-fire-flame-curved"></i></h1>
    <hr>
    <div class="flex gap-3 p-2">
      {% for author in top_authors %}
          <a href="{% url 'author_profile' author.id %}"><img src="{{author_images.url}}" class="rounded-full border border-black w-32" /></a>
      {% endfor %}
    </div>

    {% comment %} top selling  {% endcomment %}
    <h1 class="text-3xl mt-8 mb-2 font-bold">Top Selling <i class="fa-solid fa-arrow-trend-up"></i></h1>
    <hr>
    
    <div class="flex flex-wrap gap-6 mt-6">
      {% for book in top_selling %}
      <div class="bg-white shadow-md hover:shadow-lg transition-shadow duration-300 rounded-lg overflow-hidden w-72 h-96 my-3">
        <a href="{% url 'book_details' book.id %}">
          <div class="flex justify-center">
            <img src="{{ book.photo.url }}" alt="{{ book.title }}" class="w-52 h-64 object-cover"/>
          </div>
          <div class="card-body p-4">
            <h2 class="text-lg font-semibold text-gray-800">{{ book.title|truncatechars:50 }}</h2>
            <h3 class="text-md font-bold text-black">Tk. {{book.price}}</h3>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock main %}
