{% load static %}

<nav>
    <div class="navbar bg-base-300 text-base-content fixed z-40">
        <div class="flex-1">
          <a class="w-12" href="{% url 'home' %}"><img src="{% static 'nav/image.png' %}" alt="logo"></a>
          <ul class="menu menu-horizontal px-1 text-black font-bold">
              <li>
                <details>
                  <summary>Menu</summary>
                  <ul class="bg-base-200 rounded-t-none p-2 shadow-lg z-50">
                    {% if user.is_authenticated %}
                    <kbd class="kbd md:hidden">{{user.first_name}} ${{user.account.balance}}</kbd>
                    <li><a href="{% url 'accounts:deposit' %}">Deposit</a></li>
                    <li><a href="{% url 'transaction_report' %}">Report</a></li>
                    {% else %}
                    <li><a href="{% url 'accounts:login' %}"><i class="fa-solid fa-address-card"></i> Register/Login</a></li>
                    {% endif %}
                  </ul>
                </details>
              </li>
            </ul>
        </div>
        <div class="flex-none">
          {% if user.is_authenticated %}
          <div class="hidden md:inline"><kbd class="kbd">{{user.first_name}} ${{user.account.balance}}</kbd></div>
          {% endif %}
          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
              <div class="w-10 rounded-full">
                <img
                  alt="profile"
                  src="{% static 'nav/default.png' %}" />
              </div>
            </div>
            <ul
              tabindex="0"
              class="menu menu-sm dropdown-content bg-base-200 rounded-box mt-3 w-52 p-2 shadow-lg z-50">
              {% if user.is_authenticated %}
              <li><a href="{% url 'accounts:profile' %}"><i class="fa-solid fa-user"></i> Profile</a></li>
              <li><a href="{% url 'accounts:update_profile' %}"><i class="fa-solid fa-gear"></i> Settings</a></li>
              <li><a href="{% url 'accounts:logout' %}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
              {% else %}
              <li><a href="{% url 'accounts:login' %}"><i class="fa-solid fa-address-card"></i> Register/Login</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
</nav>